<h1>Cargos</h1>
  <table class="table table-sm mt-4">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Departamento</th>
        <th>Nível</th>
        <th>Salário Base</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @cargos.each do |cargo| %>
        <tr>
          <td><%= cargo.nome %></td>
          <td><%= cargo.departamento.nome %></td>
          <td><%= cargo.nivel.humanize %></td>
          <td><%= number_to_currency(cargo.salario_base) %></td>
          <td><%= cargo.status.humanize %></td>
          <td>
            <%= link_to edit_cargo_path(cargo), class: "btn btn-secondary btn-sm" do %>
              <%= image_tag 'edit.png', alt: 'Editar', class: 'btn-icon', style: "filter: invert(100%);" %> Editar
            <% end %>
            <%= link_to cargo, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" do %>
              <%= image_tag 'remove.png', alt: 'Excluir', class: 'btn-icon', style: "filter: invert(100%);" %> Excluir
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to new_cargo_path, class: "btn btn-primary" do%>
  <%= image_tag 'stars.png', alt: 'Cadastrar', class: 'btn-icon', style: "filter: invert(100%);" %> Novo Cargo
<% end %>