<% content_for :title, "Departamentos" %>

<h1>Departamentos</h1>

  <div id="departamentos" class="container">
    <table class="table table-sm mt-4">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Localização</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @departamentos.each do |departamento| %>
          <tr>
            <td><%= departamento.formatted_codigo %></td>
            <td><%= departamento.nome %></td>
            <td><%= departamento.descricao %></td>
            <td><%= departamento.localizacao %></td>
            <td><%= departamento.status %></td>
            <td>
              <%= link_to "Editar", edit_departamento_path(departamento), class: "btn btn-secondary btn-sm" %>
              <%= link_to "Excluir", departamento, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= link_to "Novo Departamento", new_departamento_path, class: "btn btn-primary" %>
