<% content_for :title, "Departamentos" %>

<h1>Departamentos</h1>

  <div id="departamentos" class="container">
    <table class="table table-sm mt-4">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Localização</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @departamentos.each do |departamento| %>
          <tr>
            <td><%= departamento.formatted_codigo %></td>
            <td><%= departamento.nome %></td>
            <td><%= departamento.descricao %></td>
            <td><%= departamento.localizacao %></td>
            <td><%= departamento.status %></td>
            <td>
            <%= link_to edit_departamento_path(departamento), class: "btn btn-secondary btn-sm" do %>
              <%= image_tag 'edit.png', alt: 'Editar', class: 'btn-icon', style: "filter: invert(100%);"%> Editar
            <% end %>               
            <%= link_to departamento, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger btn-sm" do %>
              <%= image_tag 'remove.png', alt: 'Excluir', class: 'btn-icon', style: "filter: invert(100%);" %> Excluir
            <% end %>             

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= link_to new_departamento_path, class: "btn btn-primary" do %>
  <%= image_tag 'stars.png', alt: 'Cadastrar', class: 'btn-icon', style: "filter: invert(100%);" %> Novo Departamento
<% end %>