<div class="card">
  <div class="card-header">
    <h5 class="card-title">Deseja realmente excluir esse funcionario?</h5>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Nome Complemento:</dt>
      <dd class="col-sm-9"><%= funcionario.nome_completo %></dd>

      <dt class="col-sm-3">Data nascimento:</dt>
      <dd class="col-sm-9"><%= funcionario.data_nascimento %></dd>

      <dt class="col-sm-3">Genero:</dt>
      <dd class="col-sm-9"><%= funcionario.genero %></dd>

      <dt class="col-sm-3">Cpf:</dt>
      <dd class="col-sm-9"><%= funcionario.cpf %></dd>

      <dt class="col-sm-3">Rg:</dt>
      <dd class="col-sm-9"><%= funcionario.rg %></dd>

      <dt class="col-sm-3">Endereco:</dt>
      <dd class="col-sm-9"><%= funcionario.endereco %></dd>

      <dt class="col-sm-3">Numero:</dt>
      <dd class="col-sm-9"><%= funcionario.numero %></dd>

      <dt class="col-sm-3">Complemento:</dt>
      <dd class="col-sm-9"><%= funcionario.complemento %></dd>

      <dt class="col-sm-3">Bairro:</dt>
      <dd class="col-sm-9"><%= funcionario.bairro %></dd>
      
      <dt class="col-sm-3">Cidade:</dt>
      <dd class="col-sm-9"><%= funcionario.cidade %></dd>
      
      <dt class="col-sm-3">Estado:</dt>
      <dd class="col-sm-9"><%= funcionario.estado %></dd>
      
      <dt class="col-sm-3">Cep:</dt>
      <dd class="col-sm-9"><%= funcionario.cep %></dd>
      
      <dt class="col-sm-3">Telefone:</dt>
      <dd class="col-sm-9"><%= funcionario.telefone %></dd>
      
      <dt class="col-sm-3">Email:</dt>
      <dd class="col-sm-9"><%= funcionario.email %></dd>
      
      <dt class="col-sm-3">Cargo:</dt>
      <dd class="col-sm-9"><%= funcionario.cargo.nome %></dd>
      
      <dt class="col-sm-3">Data contratacao:</dt>
      <dd class="col-sm-9"><%= funcionario.data_contratacao %></dd>
      
      <dt class="col-sm-3">Salario:</dt>
      <dd class="col-sm-9"><%= funcionario.salario %></dd>
      
      <dt class="col-sm-3">Status:</dt>
      <dd class="col-sm-9"><%= funcionario.status %></dd>

    </dl>
  </div>
</div>