<h1>Funcionários</h1>
<table class="table table-sm mt-4">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Gênero</th>
      <th>Cargo</th>
      <th>Data de Contratação</th>
      <th>Salário</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome_completo %></td>
        <td><%= funcionario.genero.humanize%></td> 
        <td><%= funcionario.cargo.nome %></td>
        <td><%= funcionario.data_contratacao.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(funcionario.salario) %></td>
        <td><%= funcionario.status.humanize %></td>
        <td>
          <%= link_to edit_funcionario_path(funcionario), class: "btn btn-secondary btn-sm" do %>
            <%= image_tag 'edit.png', alt: 'Editar', class: 'btn-icon', style: "filter: invert(100%);"%> Editar
          <% end %>               
          <%= link_to funcionario, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" do %>
            <%= image_tag 'remove.png', alt: 'Excluir', class: 'btn-icon', style: "filter: invert(100%);" %> Excluir
          <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_funcionario_path, class: "btn btn-primary" do%>
  <%= image_tag 'stars.png', alt: 'Cadastrar', class: 'btn-icon', style: "filter: invert(100%);" %> Novo Funcionario
<% end %>
